#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

#header {
    background-color: #2E2E2E;
    color: white;
}

#header a {
    border-bottom: none;
}

#header .inner {
    display: flex;
    align-items: center;
}

#header #logo, #header nav, #header #social {
    flex: 1;
    display: flex;
    justify-content: center;
}

#header #logo .header-inner {
    margin-right: auto;
}

#header #social .header-inner {
    margin-left: auto;
}

#header #logo {
    padding: 10px 0;
}

#header #logo img {
    height: 30px;
    margin-right: 8px;
    margin-bottom: 8px;
}

#header h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#header #logo a {
    display: flex;
    align-items:center;
    transition: none;
}
#header #logo a:hover, #header #logo a:hover h1 {
    color: white;
}

#header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header nav li {
    padding: 6px;
}

#header .icons {
    padding: 0;
    margin: 0;
}

#header ul.icons li {
    padding: 6px;
}

#header a {
    color: white;
}

#header a:hover {
    color: #0db0e2 !important;
}

/* Main */

#main {
    margin-top: 40px;
}

#main h1 {
    margin-bottom: 20px;
}

/* A propos */

#propos h1 {
    margin-bottom: 0;
}

#propos h2 {
    padding-left: 3px;
    margin-bottom: 40px;
}

#propos h3 {
    margin-bottom: 10px;
}

#propos p {
    margin-bottom: 16px;
}

#propos img {
    max-width: 100%;
    border-radius: 20%;
}

.propos-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 40px;
}

.propos-container .photo, .propos-container .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.propos-container .photo {
    grid-column-start: 1;
    grid-column-end: 6;
}

.propos-container .description {
    grid-column-start: 7;
    grid-column-end: 13;
}

@media screen and (max-width: 1050px) {
    .propos-container {
        grid-template-rows: repeat(2, auto);
    }

    .propos-container .photo {
        grid-area: 1 / 4 / 2 / 10;
    }

    .propos-container .description {
        grid-area: 2 / 1 / 3 / 13;
    }
}

@media screen and (max-width: 700px) {
    .propos-container .photo {
        grid-area: 1 / 2 / 2 / 12;
    }
}

/* Mobile */

@media screen and (max-width: 525px) {
    #header .inner {
        display: block;
    }

    #header #social {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #header nav {
        padding-bottom: 6px;
    }
}

body:is(.is-touch) .tiles article a {
    justify-content: flex-end;
    padding: 0;
}

body:is(.is-touch) .tiles article .content {
    padding: 1em;
    padding-top: 60px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95),
            transparent);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.tiles article .content {
    text-shadow: 0 2px 20px rgba(0, 0, 0, 1);
}

/* Footer */

#footer {
    padding-top: 2em;
    padding-bottom: 0.5em;
    margin-top: auto;
}

#footer > .inner .copyright {
    margin: 1em 0;
    margin-top: 2.5em;
}